<div class="card">
  <h1>About</h1>

  <p>KLM Case from Emre Ceylan</p>
  <p><a href="https://github.com/emrej/flight-fare-finder">Flight Fare Finder Github Repo</a></p>
  <p>&nbsp;</p>
  <p>Type a few letters of what you're looking for into the <b>from</b> and <b>to</b> text boxes.</p>
  <p>Autocomplete will list all airports which match with code, name or description; click the one you are looking for.</p>
  <p>Code will be filled into the text box, after selecting both airports click on search.</p>
</div>
