<div class="card">
  <h1>About</h1>

  <p>KLM Case (Angular 4 FrontEnd) from Emre Ceylan</p>
  <p><a href="https://github.com/emrej/flight-meal-management">Flight Meal Management Github Repo</a></p>
  <p>&nbsp;</p>
  <p>Fill in the flight number and flight departure date then click 'Add flight'</p>
  <p>Flights will be listed below the form.</p>
  <p>
    After adding the flight you can add economy and business class meals, fill in number of meals and click 'Add meal'
  </p>
  <p>
    Meals also will be listed with the flights, if you click on a flight, flight info will be auto filled into input
    boxes.
  </p>
  <p>
    Flights may be deleted via filling the details in the input fields or selecting the flight from the list, then
    clicking 'Delete flight'
  </p>
</div>
