
<div class="card row">
  <h3>Flight Meal Management</h3>

  <div class="control-group">
    <label>Flight Number:</label>
    <input [(ngModel)]="flightNumber" minlength="5" maxlength="6" #fNumber="ngModel" class="form-control"
           id="flightNumber" (keydown.space)="$event.preventDefault();" style="width: 20%;display: inline">
    &nbsp;&nbsp;
    <label>Flight Departure Date:</label>
    <input type="date" [(ngModel)]="flightDepartureDate" class="form-control" id="flightDepartureDate"
           style="width: 20%;display: inline">
    &nbsp;&nbsp;
    <button
      (click)="addFlight()"
      [disabled]="(!flightNumber || flightNumber.length < 5) || !flightDepartureDate"
      class="btn btn-default">
      Add Flight
    </button>
    &nbsp;&nbsp;
    <button
      (click)="deleteFlight()"
      [disabled]="(!flightNumber || flightNumber.length < 5) || !flightDepartureDate"
      class="btn btn-default">
      Delete Flight
    </button>
  </div>

  <div *ngIf="fNumber.errors?.minlength" style="font-size: 12px;color: slategray;padding-top: inherit">
    Flight number must be at least 5 characters long.
  </div>

  <span>&nbsp;</span>

  <div class="control-group">
    <label>[Economy] Breakfast:</label>
    <input type="number" [(ngModel)]="economyMeal.breakfast" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(economyMeal)"
           class="form-control" id="economyBreakfast" style="width: 10%;display: inline">&nbsp;
    <label>Light Snack:</label>
    <input type="number" [(ngModel)]="economyMeal.lightSnack" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(economyMeal)"
           class="form-control" id="economyLightSnack" style="width: 10%;display: inline">&nbsp;
    <label>Lunch:</label>
    <input type="number" [(ngModel)]="economyMeal.lunch" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(economyMeal)"
           class="form-control" id="economyLunch" style="width: 10%;display: inline">&nbsp;
    <label>Dinner:</label>
    <input type="number" [(ngModel)]="economyMeal.dinner" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(economyMeal)"
           class="form-control" id="economyDinner" style="width: 10%;display: inline">&nbsp;

    <button
      (click)="addMeal()"
      [disabled]="(!flightNumber || flightNumber.length < 5) || !flightDepartureDate || !economyNumberOfMealsValidated || !businessNumberOfMealsValidated"
      class="btn btn-default">
      Add Meal
    </button>
  </div>

  <div *ngIf="!economyNumberOfMealsValidated" style="font-size: 12px;color: slategray;padding-top: inherit">
    Please enter an amount between 0 and 1000
  </div>

  <span>&nbsp;</span>

  <div class="control-group">
    <label>[Business] Breakfast:</label>
    <input type="number" [(ngModel)]="businessMeal.breakfast" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(businessMeal)"
           class="form-control" id="businessBreakfast" style="width: 10%;display: inline">&nbsp;
    <label>Light Snack:</label>
    <input type="number" [(ngModel)]="businessMeal.lightSnack" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(businessMeal)"
           class="form-control" id="businessLightSnack" style="width: 10%;display: inline">&nbsp;
    <label>Lunch:</label>
    <input type="number" [(ngModel)]="businessMeal.lunch" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(businessMeal)"
           class="form-control" id="businessLunch" style="width: 10%;display: inline">&nbsp;
    <label>Dinner:</label>
    <input type="number" [(ngModel)]="businessMeal.dinner" min="0" max="1000"
           (ngModelChange)="validateNumberOfMeal(businessMeal)"
           class="form-control" id="businessDinner" style="width: 10%;display: inline">&nbsp;
  </div>

  <div *ngIf="!businessNumberOfMealsValidated" style="font-size: 12px;color: slategray;padding-top: inherit">
    Please enter an amount between 0 and 1000
  </div>

</div>

<div class="row">
  <div *ngIf="errorMessage" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <error-card
      [item]="errorMessage">
    </error-card>
  </div>
  <div *ngFor="let flight of flights" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <flight-card
      [item]="flight" (click)="fillInFlightInfo(flight)">
    </flight-card>
  </div>
</div>
