
<div class="card row">
  <h1>Flight Meal Management</h1>

  <div class="control-group">
    <label>Flight Number:</label>
    <input [(ngModel)]="flightNumber" minlength="5" maxlength="6" #fNumber="ngModel" class="form-control"
           id="flightNumber" (keydown.space)="$event.preventDefault();">
  </div>
  <div *ngIf="fNumber.errors?.minlength">
    Flight number must be at least 5 characters long.
  </div>

  <span>
    &nbsp;
  </span>

  <div class="control-group">
    <label>Flight Departure Date:</label>
    <input type="date" [(ngModel)]="flightDepartureDate" class="form-control" id="flightDepartureDate">
  </div>

  <span>
    &nbsp;
  </span>

  <div class="control-group">
    <button
      (click)="addFlight()"
      [disabled]="(!flightNumber || flightNumber.length < 5) || !flightDepartureDate"
      class="btn btn-default">
      Add Flight
    </button>
  </div>
</div>

<div class="row">
  <div *ngIf="flight" class="col col-lg-12 col-md-12 col-sm-6 col-xs-12">
    <flight-card
      [item]="flight">
    </flight-card>
  </div>
  <div *ngIf="errorMessage" class="col col-lg-12 col-md-12 col-sm-6 col-xs-12">
    <error-card
      [item]="errorMessage">
    </error-card>
  </div>
</div>
